    @import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
    :root {
        --primary-dark: #343434;
        --primary-light: #D9DEDC;
        --secondary-light: #EDEDED;
        --button-color: #1E1E1E;
        --screen-color: #666A5E;
    }
    * {
        margin: 0;
        padding: 0;
        white-space: nowrap;
        user-select: none;
        /* scrollbar-color: #6969dd #e0e0e0;
        scrollbar-width: thin; */
    }
    body {        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        min-height: 600px;        
        background: radial-gradient(
            circle,
            #99D9EA 0%,
            #5488D1 80%
        );        
        padding-top: 33px;
        /* overflow: hidden; */
    }
    body::-webkit-scrollbar {
        width: 4px;
    }
     
    body::-webkit-scrollbar-track {
        background-color: #e4e4e4;
    }
     
    body::-webkit-scrollbar-thumb {
        background-color: #d4aa70;
    }
    #calculator {
        width: 700px;
        height: 1130px;
        border-radius: 90px 90px 60px 60px;
        opacity: 95%;    
        background:
            radial-gradient(
                var(--primary-dark) 50%,
                transparent 100%
            ),
            url(https://grainy-gradients.vercel.app/noise.svg);
    }
    #shade {        
        position: absolute;
        z-index: -1;
        width: 750px;
        height: 1170px;
        top: auto;
        margin-top: 28px;
        border-radius: 100px 100px 90px 90px;
        background:
            linear-gradient(
                180deg,
                #615E60,
                #615E60 5%,
                #423C40 12%,
                #423C40 60%,
                #302F30 100%
            );

    }
    #screen {
        box-shadow: inset 1px 3px 15px var(--button-color);
        border-radius: 12px;
        height: 13%;
        width: 82%;
        margin: auto;
        margin-top: 10.8%;
        background-color: var(--screen-color);
        background: radial-gradient(
            circle,
            var(--screen-color) 30%,
            #595B50 90%
        );
        border: solid #3B3B3B;
        border-width: 8px 18px 12px 18px;  
        display: flex;
        justify-content:center;
        align-items:flex-end;
        flex-direction: column;
        border-top-color: #303030;
        overflow: hidden;
    }
    #screen > p {
        padding-right: 2%;
        padding-left: 2%;
        font-family: 'Orbitron', sans-serif;
        color: #161A1E;
    }
    #screen > #expression {
        font-size: 1.9rem;
        margin-top: 4px;
        height: 10%;
        width: fit-content;
    }
    #screen > #output {
        margin-top: 4px;
        font-size: 5.8rem;
        height: 80%;
        letter-spacing: -1px;
        width: max-content;        
        overflow: hidden;
    }
    #buttons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        height: 58%; 
        margin: 9% 8% 0;
        gap: 3%; 
        opacity: 90%;
    }    
    button {
        box-shadow: 0px 12px 10px rgba(41, 41, 41, 1);
        cursor: pointer;
        border: solid #0F0F0F;
        border-width: 2px 6px 13px 6px;
        outline: none;
        background: radial-gradient(
            circle,
            #303030 20%,
            var(--button-color) 65%
        );
        border-radius: 10px;
        font-size: 5rem;
        color: var(--primary-light);
    }
    #initializer {
        background: radial-gradient(
            circle,
            #C96D28 20%,
            #D4732A 65%
        );
        border: solid #91521E;
        border-width: 1px 3px 6.5px 3px;
    }
    #plus {
        grid-column: 4/5;
        grid-row:  4/6;
    }
    #footer {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: var(--button-color);
        position: absolute;
        color: var(--primary-light);
        top: 0%;
        height: 70px;
        border-radius: 0% 0% 40% 40%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1.9rem;
    }
    #footer > p{
        margin-top: 10px;
    }
    a {
        font-size: 1.8rem;
        position: absolute;
        margin-right: -475px;
    }
    .fa-github {
        color: var(--primary-light);
        margin-top: 16px;
        transition: ease-in-out 0.4s;
    }
    .fa-github:hover {
        margin-top: 10px;
        transform: rotate(360deg);
        font-size: 2.2rem;
    }
    @media screen and (max-width: 2559px) {        
        #screen {
            box-shadow: inset 1px 3px 15px var(--button-color);
            border-radius: 12px;            
            border-width: 8px 18px 12px 18px;              
        }
        #screen > #expression {
            font-size: 0.95rem;
            margin-top: 4px;        
        }
        #screen > #output {
            margin-top: 4px;
            font-size: 2.9rem;
            height: 80%;
            letter-spacing: -1px;
        }
        #calculator {
            width: 350px;
            height: 565px;
            border-radius: 45px 45px 30px 30px;             
        }
        #shade {                    
            width: 375px;
            height: 585px;          
            margin-top: 14px;
            border-radius: 50px 50px 45px 45px;
        }
        button {
            box-shadow: 0px 6px 5px rgba(41, 41, 41, 1);
            cursor: pointer;
            border: solid #0F0F0F;
            border-width: 1px 3px 6.5px 3px;                        
            border-radius: 10px;
            font-size: 2.3rem;            
        }
        #footer {            
            height: 70px;
            border-radius: 0% 0% 40% 40%;            
            font-size: 1.4rem;
        }
        a {
            font-size: 1.8rem;
            position: absolute;
            margin-right: -357px;
        }
        .fa-github {
            color: var(--primary-light);
            margin-top: 10px;
            transition: ease-in-out 0.4s;
        }
        .fa-github:hover {
            margin-top: 6px;
            transform: rotate(360deg);
            font-size: 2.2rem;
        }
    }
    